<template lang="pug">
  CenteredFiftyFifty
    div.columns
      z-card
        z-card-body
          Login
    div.columns
      z-card
        z-card-body
          Register
</template>

<script>
import CenteredFiftyFifty from '~/components/sublayouts/CenteredFiftyFifty.vue'
import Login from '~/components/Login.vue'
import Register from '~/components/Register.vue'

export default {
  components: {
    CenteredFiftyFifty,
    Login,
    Register
  }
}
</script>

<style scoped>
.columns {
  flex-direction: column;
}

.card:not(:first-child) {
  margin-top: 20px;
}
</style>
