<template lang="pug">
  CenteredSettings
    //- Left pane is a sticking menu that allow to quickly jump from section to section
    div.columns.settings-left-pane#left-pane
      //- Sticking div ; see https://github.com/eddiemf/vue-affix#usage
      Affix(relative-element-selector="#left-pane" style="width: 200px")
        div.accordion
          input(type="checkbox" id="accordion-user" name="accordion-checkbox" hidden checked)
          label.accordion-header(for="accordion-user")
            <strong>User</strong>
          div.accordion-body
            ul.menu.menu-nav
              li.menu-item
                a(href="#profile" ref="profile") Profile
        div.accordion(v-if="isAdministrator")
          input(type="checkbox" id="accordion-administration" name="accordion-checkbox" hidden checked)
          label.accordion-header(for="accordion-administration")
            <strong>Administration</strong>
          div.accordion-body
            ul.menu.menu-nav
              li.menu-item
                a(href="#dashboard" ref="dashboard") Dashboard
              li.menu-item
                a(href="#server-parameters") Server parameters
        div.accordion(v-if="isModerator")
          input(type="checkbox" id="accordion-moderation" name="accordion-checkbox" hidden checked)
          label.accordion-header(for="accordion-moderation")
            <strong>Moderation</strong>
          div.accordion-body
            ul.menu.menu-nav
              li.menu-item
                a(href="#reports" ref="reports") Reports

    //- Right pane is just a continuous page stacking all administration sections
    div.columns.settings-right-pane(ref="rightpane")
      ProfileEdit#profile(v-observe-visibility="{ callback: visibilityChanged, intersection: intersectionOptions, throttle: 300 }")
</template>

<script>
import { mapGetters } from 'vuex'
import { Affix } from 'vue-affix'

import CenteredSettings from '~/components/sublayouts/CenteredSettings.vue'
import ProfileEdit from '~/components/ProfileEdit.vue'

export default {
  middleware: ['isAuth', 'isSetup'],
  components: {
    CenteredSettings,
    Affix,
    ProfileEdit
  },
  data() {
    return {
      stickingStyles: {
        'padding-top': ''
      },
      intersectionOptions: {
        root: this.$refs.rightpane,
        rootMargin: '10%',
        threshold: 0.6 // [0.25, 0.75] if you want a 25% offset!
      } // https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API
    }
  },
  computed: {
    ...mapGetters('user', ['isAdministrator', 'isModerator'])
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      /* this is used to toggle the active links in the menu */
      isVisible
        ? (this.$refs[entry.target.id].className = 'active')
        : this.$refs[entry.target.id].classList.remove('active')
    }
  }
}
</script>

<style scoped>
.columns {
  flex-direction: column;
}

.settings-left-pane {
  text-align: right;
}

.settings-right-pane {
  box-shadow: rgba(0, 0, 0, 0.06) -5px 10px 10px;
}

.accordion {
  width: 100%;
}

.menu.menu-nav {
  min-width: unset;
}

.card:not(:first-child) {
  margin-top: 20px;
}

a:hover:not(.active) {
  background: inherit !important;
}
</style>
