$primary-color: #205e3b;
$dark-color: #3e396b;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons.woff2") format("woff2");
}

@import "zutre/src/scss/main.scss";

body {
  font-family: 'Inter', $body-font-family;
}

/* Nuxt page transitions */
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

/* Focus-Visible */
:focus:not(:focus-visible) {
  box-shadow: none;
}

:focus-visible {
  box-shadow: initial;
}
