<template lang="pug">
  div.columns.pagecontainer
    div.col-11.col-mx-auto
      nuxt(v-if="!$slots.default")
      slot
</template>

<style lang="scss" scoped>
.pagecontainer {
  margin-top: 30px;
  display: flex;
  flex: 1;
}
</style>
