<template>
  <h1>{{ title }}</h1>
</template>

<script>
export default {
  data() {
    return {
      description: '',
      imageUrl: ''
    }
  },
  head() {
    return {
      meta: [
        {
          hid: 'og-image',
          property: 'og:image',
          content: this.imageUrl
        },
        {
          hid: 'og-description',
          property: 'og:description',
          content: this.description
        },
        this.crawlable ? {} : { name: 'robots', content: 'noindex, nofollow' }
      ],
      link: [
        // { rel: 'alternate', href='{{$profile->permalink()}}', type: 'application/activity+json' }
        // { rel: 'alternate', href: "{{$profile->permalink('.atom')}}", title: "{{$profile->username}} on OLKi", type: 'application/atom+xml' }
      ]
    }
  }
}
</script>
