<template lang="pug">
  form.form-horizontal
    div.empty
      div.empty-icon
        <z-icon tabindex="-1" name="person_pin" />
      p.empty-title.h5 Select the username that will be tied to your account
      p.empty-subtitle It will be used by others to refer to your account, and cannot be changed
      div.empty-action.input-group.col-mx-auto
        input(:placeholder="$t('username')" v-model="username" @input="isUsernameAvailable" :class="{ 'is-error': !valid }" v-validate="'alpha|min:3'" name="username" ref="username" class="form-input" type="text")
        span.input-group-addon.addon @{{ domain }}
</template>

<script>
import createActorGql from '~/apollo/mutations/createActor'
import hasActorGql from '~/apollo/queries/hasActor'

export default {
  data() {
    return {
      username: '',
      domain: '',
      usernameAvailable: true
    }
  },
  computed: {
    valid() {
      return !this.errors.any() && this.usernameAvailable
    }
  },
  mounted() {
    this.domain = window.location.hostname
    this.$nextTick(() => this.$refs.username.focus())
  },
  methods: {
    async next() {
      try {
        // called by parent on click, since we don't have a button
        await this.$apolloProvider.defaultClient
          .mutate({
            mutation: createActorGql,
            variables: { input: { username: this.username } }
          })
          .then(({ data }) => data.createActor)
        this.$store.dispatch('auth/syncUser')
      } catch (e) {
        console.log(e)
      }
    },
    async isUsernameAvailable() {
      this.usernameAvailable = await this.$apolloProvider.clients.noAuth
        .query({
          query: hasActorGql,
          variables: { username: this.username }
        })
        .then(({ data }) => !data.hasActor)
    }
  },
  $_veeValidate: {
    validator: 'new'
  }
}
</script>

<style scoped>
i {
  font-size: 60px;
  max-width: 60px;
}

.input-group {
  max-width: 400px;
}
</style>
