<template lang="pug">
  figure.avatar(:class="['avatar-' + size]" :data-initial="displayName.substring(0, 2).toUpperCase()")
    img(v-if="getImageUrl" :src="getImageUrl")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    size: {
      type: String,
      default: 'lg'
    }
  },
  computed: {
    ...mapGetters('user', ['displayName']),
    ...mapGetters('profile', ['getImageUrl'])
  }
}
</script>
