<template lang="pug">
  div.popover.popover-bottom
    Avatar.c-hand

    div.popover-container
      z-menu
        z-menu-item
          nuxt-link(:to="localePath('home')") {{ $t('profile') }}
        z-menu-item
          nuxt-link(:to="localePath('settings')") {{ $t('settings') }}
        z-menu-item(v-if="isAdministrator")
          nuxt-link(:to="localePath('settings') + '#administration'") {{ $t('administration') }}
        z-menu-item
          nuxt-link(v-on:click.native="onLogout" :to="localePath('home')") {{ $t('logout') }}
</template>

<script>
import Avatar from '~/components/Avatar'

import { mapGetters, mapMutations } from 'vuex'

export default {
  components: {
    Avatar
  },
  computed: {
    ...mapGetters('user', ['isAdministrator', 'isModerator'])
  },
  methods: {
    async onLogout() {
      await this.$apolloHelpers.onLogout()
      this.logout()
    },
    ...mapMutations('auth', ['logout'])
  }
}
</script>

<style scoped>
.menu {
  left: 30% !important;
}

.popover-container {
  width: unset !important;
}
</style>
