<template lang="pug">
  z-navbar
    z-navbar-section
      ul.tab.tab-block
        li.tab-item
          nuxt-link(:to="localePath('home')" exact-active-class="active") {{ $t('browse') }}
        li.tab-item
          nuxt-link(:to="localePath('social')" exact-active-class="active") {{ $t('social') }}
        li.tab-item
          z-tooltip(content="Share datasets, code and/or paper." position="bottom")
            nuxt-link(:to="localePath('upload')" exact-active-class="active") {{ $t('upload') }}
      ul.tab.tab-block
        li.tab-item(v-if="isAdministrator")
          nuxt-link(:to="localePath('admin')" exact-active-class="active") {{ $t('administration') }}
        li.tab-item(v-if="isModerator")
          z-tooltip(content="Share datasets, code and/or paper." position="bottom")
            nuxt-link(:to="localePath('moderation')" exact-active-class="active") {{ $t('moderation') }}

    z-navbar-section(center)
      nuxt-link.title(:to="localePath('home')") OLKi

    z-navbar-section
      div(v-if="!isAuthenticated")
        nuxt-link(tabindex="-1" :to="{ path: localePath('about'), query: { to: 'login' } }")
          z-button.mr-2(size="sm")
            <z-icon tabindex="-1" name="account_circle" /> {{ $t('login') }}
        nuxt-link(tabindex="-1" :to="{ path: localePath('about'), query: { to: 'signup' } }")
          z-button( size="sm" type="primary")
            <z-icon tabindex="-1" name="how_to_reg" /> {{ $t('signup') }}
      div(v-else)
        AvatarHeading
      LanguageSelect.ml-2
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import AvatarHeading from '~/components/AvatarHeading.vue'
import LanguageSelect from '~/components/LanguageSelect.vue'

export default {
  components: {
    AvatarHeading,
    LanguageSelect
  },
  computed: {
    ...mapState('auth', ['isAuthenticated']),
    ...mapGetters('user', ['isAdministrator', 'isModerator'])
  }
}
</script>

<style>
.navbar {
  width: 100%;
  padding: 10px 10px;
}

.tab-item:not(:first-child):before {
  margin-left: 10px;
}

.tab-block:not(:first-child) {
  margin-left: 20px;
}

.title {
  font-family: 'Inter', 'Quicksand', 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 600;
  font-size: 1.6em;
  color: #35495e;
  letter-spacing: 1px;
  text-decoration: none !important;
}
</style>
