<template lang="pug">
  div.popover.popover-bottom
    z-button.btn-action.s-circle
      <z-icon name="language" />
    div.popover-container
      z-card
        z-card-header
          z-card-title {{ $t('languages') }}
          z-card-subtitle
        z-card-body
          div.column.col-10.col-mx-auto#langlist
            nuxt-link(
              v-for="locale in availableLocales"
              :key="locale.code"
              :to="switchLocalePath(locale.code)"
              :class="{ 'active': locale.code === $i18n.locale }"
            ) {{ locale.name }}
        z-card-footer
</template>

<script>
export default {
  computed: {
    availableLocales() {
      return this.$i18n.locales
    }
  }
}
</script>

<style lang="scss" scoped>
.popover-container {
  left: -300% !important;
  top: 130% !important;
}
#langlist {
  display: flex;
  flex-direction: column;
}
</style>
