<template lang="pug">
  div
    form.form-horizontal
      div.divider.text-center(data-content="Profile")
      div.form-group
        div.col-3.col-sm-12
          Avatar(size="xl")
        div.col-9.col-sm-12
          div.input-group
            z-input#profileImage(type="file" style="flex-grow:1" accept=".png, .jpg, .jpeg" @input="onFileChange" v-validate="'dimensions:300,300|ext:jpeg,jpg,png|image'" data-vv-as="image" ref="profileImage" name="profileImage")
            z-button.input-group-btn#deleteImage(color="primary" disabled) Delete current image
      div.form-group
        div.col-3.col-sm-12
          label Display name
        div.col-9.col-sm-12
          z-input(v-validate="'alpha|max:30'" name="profileName" :placehoder="displayName" v-model="profile.name" maxlength="30")
      div.form-group
        div.col-3.col-sm-12
          label Description
        div.col-9.col-sm-12
          z-input(type="textarea" v-model="profile.bio" v-validate="'max:200'" data-vv-as="field" name="profileDescription" maxlength="200" counter)
          z-switch(v-model="profile.indexed") Allow indexation by search engines
          z-switch(v-model="profile.private") Opt-in to being listed in the user directories
      div.form-group
        div.col-12
          z-button(v-if="showAll" v-on:click.native="editProfile" type="button" color="primary") Save
    form.form-horizontal(v-if="showAll")
      div.divider.text-center(data-content="Password")
      div.form-group
        div.col-3.col-sm-12
          label New password
        div.col-9.col-sm-12
          z-input(v-model="newPassword" type="password" name="password" placeholder="Password")
        div.col-3.col-sm-12
        div.col-9.col-sm-12
          z-input(v-model="reNewPassword" type="password" v-validate="{ is: newPassword }" name="passwordRepeat" placeholder="Password (repeat)")
      div.form-group
        div.col-12
          z-button(type="button" color="primary" @click="localChangePassword") Save
    form.form-horizontal(v-if="showAll")
      div.divider.text-center(data-content="Danger Zone")
      div.form-group
        div.col-3.col-sm-12
        div.col-9.col-sm-12
          p(style="text-align:left") Once you delete your account, there is no going back.
      div.form-group
        div.col-12
          z-button(type="button" color="primary" @click="deleteAccount" disabled) Delete account
</template>

<script>
/* eslint-disable */
import Avatar from '~/components/Avatar'

import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  components: {
    Avatar
  },
  props: {
    showAll: {
      type: Boolean,
      default: true
    }
  },
  data: function() {
    return {
      profile: {
        image: '',
        name: null,
        bio: null,
        indexed: false,
        private: false
      },
      newPassword: null,
      reNewPassword: null
    }
  },
  computed: {
    ...mapState('profile', ['data']),
    valid() {
      return !this.errors.any()
    },
    ...mapGetters('user', ['displayName'])
  },
  mounted() {
    this.update()
  },
  methods: {
    async next() {
      this.editProfile()
    },
    editProfile() {
      this.$validator.validate().then(async valid => {
        if (!valid) {
          this.$toast
            .error('Your information still has formatting issues', { icon: 'warning' })
        } else {
          this.$nextTick(async () => {
            this.$nuxt.$loading.start()

            await this.setRemote({ input:
              {
                name: this.profile.name,
                bio: this.profile.bio,
                image: this.profile.image,
                indexed: this.profile.indexed,
                private: !this.profile.private
              }
            })
            await this.$store.dispatch('auth/syncUser')
            this.$toast
              .success('Successfully updated your information', { icon: 'check' })

            this.$nuxt.$loading.finish()
          })
        }
      })
    },
    async update() {
      await this.$store.dispatch('auth/syncUser')
      this.profile.name = this.data.name
      this.profile.bio = this.data.bio
      this.profile.indexed = this.data.indexed
      this.profile.private = !this.data.private
    },
    localChangePassword() {
      this.$validator.validate().then(async valid => {
        if (!valid) {
          this.$toast
            .error('Your information still has formatting issues', { icon: 'warning' })
        } else {
          const res = await this.changePassword({ newPassword: this.newPassword, reNewPassword: this.reNewPassword })
          if (res.succes) {
            this.$toast
              .success('Successfully changed password', { icon: 'check' })
          } else {
            this.$toast
              .error('Some error occured', { icon: 'warning' })
          }
        }
      })
    },
    async deleteAccount() {
      const res = await this.deleteAccount()
      this.$toast
        .success('Successfully deleted your account', { icon: 'check' })
    },
    onFileChange() {
      this.profile.image = this.$refs.profileImage.$refs.input.files[0]
    },
    ...mapActions('profile', ['setRemote', 'setRemoteImage', 'changePassword', 'deleteAccount']),
    ...mapActions('auth', ['verify'])
  },
  $_veeValidate: {
    validator: 'new'
  }
}
</script>

<style scoped>
.form-group > div:nth-child(1) {
  text-align: right;
  padding-right: 20px;
}
.form-group label {
  cursor: default;
}

#deleteImage {
  height: 40px;
}
</style>
