<template lang="pug">
  z-drawer(v-if="isAuthenticated" :open.sync="isProfileDrawerOpen" position="right")
    div.profile-header
      nuxt-link.profile-header-link(:to="localePath('account-edit')")
        z-button.mr-2(size="sm")
          <z-icon name="edit" /> Edit profile
      nuxt-link.profile-header-link(v-on:click.native="onLogout" :to="localePath('home')")
        z-button.mr-2(size="sm")
          <z-icon name="logout" /> Log out

    template(slot="footer")
      p
</template>

<script>
import { mapMutations, mapGetters, mapState } from 'vuex'

export default {
  computed: {
    ...mapState('auth', ['isAuthenticated']),
    ...mapGetters('profile', ['isProfileDrawerOpen'])
  },
  methods: {
    async onLogout() {
      await this.$apolloHelpers.onLogout()
      this.logout()
    },
    ...mapMutations('auth', ['logout'])
  }
}
</script>

<style lang="scss" scoped>
.profile-header {
  min-height: 150px;
}

.profile-header-link {
  position: relative;
  top: 10px;
  float: right;
}
</style>
