<template lang="pug">
  //- registration form
  form.form-horizontal
    p.description(v-if="!openRegistrations") {{ $t('registerDisabledDescription')}}
    p.description(v-else) {{ $t('registerDescription') }}
    fieldset(:disabled="!openRegistrations")
      div.form-group
        div.input-group
          input(:placeholder="$t('username')" v-model="username" name="username" :class="{ 'is-error': !isUsernameValid }" @input="isUsernameAvailable" v-validate="'alpha|min:3'" ref="username" class="form-input" type="text")
          span.input-group-addon.addon @{{ domain }}
      div.form-group
        z-input(:placeholder="$t('email address')" v-validate="'email'" data-vv-as="email" v-model="email" name="email" type="text" required)
      div.form-group
        z-input(:placeholder="$t('password')" v-model="password" type="password" required)
      div.form-group
        z-input(:placeholder="$t('passwordRepeat')" v-model="passwordRepeat" type="password" required)
      div.form-group
        label.form-checkbox.form-inline
          input(type="checkbox" v-model="termsAgreed" :checked="termsAgreed" required)
          i.form-icon
          i18n(path="termsAgreed")
            a(@click.prevent="toggleTerms" place="rules") {{ $t("termsAgreedRules") }}
            a(@click.prevent="toggleTerms" place="terms") {{ $t("termsAgreedTOS") }}
      z-button.form-button(color="primary" type="button" @click="onSubmit" :disabled="errors.any() || !isComplete") {{ $t('signup') }}

    //- terms and rules modal
    z-modal.modal(:open.sync="openModal" :title="$t('termsAgreedTitle', { instance: 'OLKi', domain: this.domain })" size="lg")
      h2 {{ $t("termsAgreedTOS") | capitalize }}
      p {{ getTerms() }}
      h2 {{ $t('termsAgreedRules') | capitalize }}
      p {{ getRules() }}

      template(slot="footer")
        z-button(v-if="!termsAgreed" color="primary" type="button" @click="agreeTerms") {{ $t('agree') }}
        z-button(v-else type="button" @click="toggleTerms") {{ $t('close') }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import hasActorGql from '~/apollo/queries/hasActor'

export default {
  data() {
    return {
      username: '',
      usernameAvailable: true,
      email: '',
      password: '',
      passwordRepeat: '',
      termsAgreed: false,
      openModal: false,
      domain: ''
    }
  },
  computed: {
    isComplete() {
      return (
        this.email && this.password && this.passwordRepeat && this.termsAgreed
      )
    },
    isUsernameValid() {
      return !this.errors.collect('username') && this.usernameAvailable
    }
  },
  mounted() {
    this.domain = window.location.hostname
    if (this.$route.query.to === 'signup')
      this.$nextTick(() => this.$refs.username.focus())
  },
  methods: {
    async onSubmit() {
      this.submitting = true
      const res = await this.register({
        email: this.email,
        password: this.password,
        passwordRepeat: this.passwordRepeat
      })
      this.submitting = false

      if (res.success) {
        this.$router.go(-1) // go back in history
      } else {
        this.$toast.error(res.errors[1], { icon: 'warning' })
      }
    },
    async isUsernameAvailable() {
      this.usernameAvailable = await this.$apolloProvider.clients.noAuth
        .query({
          query: hasActorGql,
          variables: { username: this.username }
        })
        .then(({ data }) => !data.hasActor)
    },
    agreeTerms() {
      this.termsAgreed = true
      this.toggleTerms()
    },
    toggleTerms() {
      this.openModal = !this.openModal
    },
    ...mapGetters('instance', ['openRegistrations', 'getTerms', 'getRules']),
    ...mapActions('auth', ['register'])
  },
  $_veeValidate: {
    validator: 'new'
  }
}
</script>

<style scoped>
.addon {
  height: 1.8rem;
}

.description {
  text-align: left;
}

.form-group,
.input-group,
.form-button {
  width: 100%;
}

.modal {
  text-align: left;
}
</style>
