<template lang="pug">
  z-container
    z-columns(style="width:100%;flex-direction:column")
      z-column(:size="12" style="box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);height:67px;")
        Heading
      z-column(:size="12" style="flex:1")
        //ProfileDrawer
        nuxt
</template>

<script>
import Heading from '~/components/Heading.vue'
import ProfileDrawer from '~/components/ProfileDrawer.vue'

export default {
  components: {
    Heading,
    ProfileDrawer
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

html {
  font-size-adjust: 0.5;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
